body{

font-family:Arial;
margin:0;
background:#f6f8fc;

}

.navbar{

display:flex;
justify-content:space-between;
padding:15px 40px;
background:white;
border-bottom:1px solid #ddd;

}

.navbar ul{

display:flex;
gap:20px;
list-style:none;

}

.logo{

font-weight:bold;
font-size:20px;

}

.hero{

text-align:center;
margin-top:40px;

}

.upload-box{

width:600px;
height:200px;
margin:40px auto;
background:#6d8edb;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
border-radius:10px;
color:white;

}

.upload-box button{

padding:10px 20px;
border:none;
background:white;
color:black;
border-radius:5px;
cursor:pointer;

}

.editor{

text-align:center;
margin-top:20px;

}

.editor input{

margin:5px;
padding:5px;

}

.editor button{

background:#2563eb;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;

}

#downloadBtn{

background:green;
color:white;
padding:10px 20px;
margin-left:10px;
text-decoration:none;
border-radius:5px;

}

canvas{

display:block;
margin:20px auto;
max-width:80%;

}